@import '../../modules.scss';

.project {
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    text-align: left;
    cursor: pointer;
    margin-bottom: 1em;
  }

  &__card-body {
    padding: 1em;
  }

  &__content-wrapper {
    width: 67.5%;
    float: right;
    margin: 0 1em;

    h2 {
      font-size: 1.25em;
      text-align: left;
      margin: 0;
    }
  }

  &__keywords {
    p {
      font-size: 0.75em;
    }
  }

  &__description {
    text-align: justify;
    line-height: 1.2em !important;
    font-size: 0.9em;
    margin: 0.25em 0;
  }

  &__image {
    width: 250px;
    height: 250px;
    box-shadow: t('shadow');
    //overflow: hidden;
    transition: box-shadow 0.3s ease;
    object-fit: cover;
    border-bottom: 0px;
    display: block;
    position: relative;

    &-wrapper {
      float: left;
      width: 250px;
      display: block;
      position: relative;
      overflow: hidden;

      margin-right: auto;
      margin-left: auto;
      padding: 0px 16px 0px 16px;
      max-width: inherit;

      @include themed() {
        background-color: t('accent');
      }

      @include desktop_and_print {
        object-fit: contain;
        max-width: none;
        padding: 0;
      }

      @include desktop_and_print {
        margin-right: auto;
      }
    }

  }
}

.portfolio {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-align: left;

  &__title {
    letter-spacing: 1px;
    font-size: 2.6rem;
    line-height: 1;
    font-weight: 600;
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    row-gap: 0.8rem;
    margin: 0.2em 0;

    &-item {
      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }
  }

  &__button {
    font-weight: 400;
    display: inline-block;
    position: relative;
    outline: 0;
    background: transparent;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-style: normal;
    border-radius: 999em;
    padding: 10px;

    @include themed() {
      border: 1px solid t('primary-light');
      color: t('info');
    }

    &:hover {
      display: inline-block;
      position: relative;
      outline: 0px;
      background: transparent;

      text-align: center;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      font-weight: 400;
      font-style: normal;
      border-radius: 999em;
    }

    &-wrapper {
      padding-bottom: 1em;
    }
  }
}


.tag {
  display: inline-block;
  font-size: 1.4rem;

  @include themed() {
    color: t('primary-light');
  }

  @include ltr {
    margin: 5px 8px 5px 0;
  }

  @include rtl {
    margin: 5px 0 5px 8px;
  }

  &::before {
    content: '#';
  }
}


.project-panel-container {
  width: 96%;
  margin: auto;
}